h1  {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
}




h2 {

   color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
}


p {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
}


button {
    font-weight: bold;
    background-color: #824315 !important;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}